<!--
The HTML comments will be removed by Marko and will not show up in the rendered HTML.
If you want to have rendered comments, use <html-comment />:

  <html-comment>This is a comment that *will* be rendered</html-comment>

This is a base layout. It has two custom placeholders:

  <layout-placeholder name="title" />
  <layout-placeholder name="body" />

And special lasso tags:

  <lasso-head />          // Place in page for injected JS and CSS
  <lasso-body />          // Secondary place for injected JS
  <lasso-resource />      // For referencing local resource and converting to URL
  <browser-refresh />     // For integration with 'browser-refresh' module

-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <layout-placeholder name="title">Lasso Marko Extras</layout-placeholder>
  </title>

  <!-- Favicon -->
  <lasso-resource path="./favicon.ico" var="favicon"/>
  <link rel="shortcut icon" href="${favicon.url}">

  <!-- Lasso placeholder for scripts and stylesheets -->
  <lasso-head/>

</head>
<body>
  <layout-placeholder name="body" />

  <!-- Lasso secondary placeholder for scripts -->
  <lasso-body/>

  <!--
    The following tag generates the code required to initialize
    widgets state associated with widgets rendered on the server.
  -->
  <init-widgets/>

  <!-- Support for 'browser-refresh' module -->
  <browser-refresh enabled="true" />
</body>
</html>


